<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Register.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Gucci</a>
            <img src="~/img/logo/gucci.jpg" alt="Logo" style="width:40px;" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List">Весь доступний асортимент♥</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List/electro">Худі та футболки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List/fuel">Кросівки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List/jeans">Штани</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ShopCart/">Корзина</a>
                    </li>
     

                </ul>
                <ul class="navbar-nav float-md-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Account/Register">Зареєструватися</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Account/Login">Вхід у персональний кабінет</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
        <p>© 2019 Всі права захищені · <a href="#">Угода</a></p>
    </footer>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
